// Global
@use "./global";

// Base
@use "./base/_base";
@use "./base/_reset";

// Layout
@use "./layout/_l-inner";

// Project
@use "./project/_p-404";
@use "./project/_p-form";
@use "./project/_p-home-topics";
@use "./project/_p-single-topics";
@use "./project/_p-top-about";
@use "./project/_p-top-choose";
@use "./project/_p-top-company";
@use "./project/_p-top-news";
@use "./project/_p-top-topics";

// Component
@use "./component/_c-btn";
@use "./component/_c-main-text";
@use "./component/_c-section-title";
@use "./component/_c-sub-title";
