// Global
@use "./global";

// Base
@use "./base/_base";
@use "./base/_reset";

// Layout
@use "./layout/_l-inner";

// Project
@use "./project/_p-404";
@use "./project/_p-beautiful";
@use "./project/_p-company";
@use "./project/_p-compare";
@use "./project/_p-features";
@use "./project/_p-footer";
@use "./project/_p-form";
@use "./project/_p-hisotry";
@use "./project/_p-home-topics";
@use "./project/_p-intro";
@use "./project/_p-land";
@use "./project/_p-live";
@use "./project/_p-maker";
@use "./project/_p-page-mv";
@use "./project/_p-product-features";
@use "./project/_p-product-mv";
@use "./project/_p-product";
@use "./project/_p-profile";
@use "./project/_p-question";
@use "./project/_p-secret";
@use "./project/_p-single-topics";
@use "./project/_p-specific";
@use "./project/_p-strong";
@use "./project/_p-submit";
@use "./project/_p-top-about";
@use "./project/_p-top-btns";
@use "./project/_p-top-choose";
@use "./project/_p-top-company";
@use "./project/_p-top-news";
@use "./project/_p-top-topics";
@use "./project/_p-voice";

// Component
@use "./component/_c-btn";
@use "./component/_c-main-text";
@use "./component/_c-pageTitle";
@use "./component/_c-section-title";
@use "./component/_c-sub-title";
