@use "../global" as *;

.c-pageTitle {
  display: flex;
  flex-direction: column;
}

.c-pageTitle__title-text {
  color: #37af32;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: rem(14);
  position: relative;
  padding-left: rem(16);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(20);
  }
}

.c-pageTitle__title-text::before {
  position: absolute;
  content: "";
  background: url(../images/common/circle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(10);
  height: rem(10);
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.c-pageTitle__title-main {
  letter-spacing: 0.06em;
  color: #222;
  font-weight: 700;
  font-size: rem(24);
  line-height: calc(112 / 80);
  @include mq(md) {
    font-size: clamp(40px, 2vw, 48px);
  }
  @include mq(lg) {
    font-size: rem(80);
  }
}
.c-pageTitle__title-text--red {
  color: #ca4844;
  position: relative;
}
.c-pageTitle__title-text--black {
  color: #592022;
  position: relative;
}
.c-pageTitle__title-text--blue {
  color: #20aee5;
  position: relative;
}
.c-pageTitle__title-text--black::before {
  position: absolute;
  content: "";
  background: url(../images/ceramic/circle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(10);
  height: rem(10);
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.c-pageTitle__title-text--blue::before {
  position: absolute;
  content: "";
  background: url(../images/eco/circle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(10);
  height: rem(10);
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.c-pageTitle__title-text--orange {
  color: #f08300;
  position: relative;
}
.c-pageTitle__title-text--orange::before {
  position: absolute;
  content: "";
  background: url(../images/ftype/circle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(10);
  height: rem(10);
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.c-pageTitle__title-text--red::before {
  position: absolute;
  content: "";
  background: url(../images/graslo/circle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(10);
  height: rem(10);
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.c-pageTitle__title-text--purple {
  color: #8f82bc;
  position: relative;
}
.c-pageTitle__title-text--purple::before {
  position: absolute;
  content: "";
  background: url(../images/ts/circle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(10);
  height: rem(10);
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.c-pageTitle__title-main--ceramic {
  color: #592022 !important;
}