@use "../global" as *;

.c-sub-title {
}

.c-sub-title__en {
  font-weight: 700;
  font-family: $second-font-family;
  letter-spacing: 0.06em;
  color: #222;
  font-style: italic;
  @include mq(md) {
    font-size: clamp(20px, 2vw, 24px);
  }
  @include mq(lg) {
    font-size: rem(60);
  }
}

.c-sub-title__ja {
  letter-spacing: 0.06em;
  color: #222;
  font-weight: 700;

  @include mq(md){
    font-size: clamp(16px, 2vw, 16px);
    margin-left: rem(12);
  }
  @include mq(lg){
    font-size: rem(20);
    margin-left: rem(16);
    
  }
}
