@use "../global" as *;

.c-sub-title {
}

.c-sub-title__en {
  font-weight: 700;
  font-family: $second-font-family;
  letter-spacing: 0.06em;
  color: #222;
  font-style: italic;
  font-size: rem(24);
  @include mq(md) {
    font-size: clamp(24px, 2vw, 32px);
  }
  @include mq(lg) {
    font-size: rem(60);
  }
}

.c-sub-title__ja {
  letter-spacing: 0.06em;
  color: #222;
  font-weight: 700;
  font-size: rem(14);
  @include mq(md){
    font-size: clamp(16px, 2vw, 16px);
    margin-left: rem(12);
  }
  @include mq(lg){
    font-size: rem(20);
    margin-left: rem(16);
    
  }
}
