@use "../global" as *;

.p-beautiful {
  margin-top: rem(40);
  padding-bottom: rem(40);
  @include mq(md) {
    margin-top: rem(60);
    padding-bottom: rem(80);
  }
  @include mq(lg) {
    margin-top: rem(120);
    padding-bottom: rem(136);
  }
}

.p-beautiful__content {
  border-top: 1px solid #222;
  padding-top: rem(24);
  @include mq(md) {
    display: flex;
    gap: rem(64);
    padding-top: rem(60);
  }
  @include mq(lg) {
    padding-top: rem(120);

    gap: rem(130);
  }
}

.p-beautiful__left {
  width: 100%;
  @include mq(md) {
    flex: 1;
    max-width: rem(600);
  }
}

.p-beautiful__top {
}

.p-beautiful__title {
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #222;
  line-height: calc(56 / 40);
  font-size: rem(24);
  margin-bottom: rem(16);
  @include mq(md) {
    font-size: rem(30);
    margin-bottom: rem(30);
  }
  @include mq(lg) {
    font-size: rem(40);
    margin-bottom: rem(40);
  }
}

.p-beautiful__text {
  font-size: rem(14);
  line-height: calc(32 / 20);
  letter-spacing: 0.06em;
  color: #222;
  font-weight: 500;
  margin-top: rem(16);
  @include mq(md) {
    margin-top: initial;
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(20);
  }
}

.p-beautiful__second {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(40);
  }
  @include mq(lg) {
    margin-top: rem(80);
  }
}

.p-beautiful__second-title {
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #37af32;
  font-size: rem(20);
  padding-bottom: rem(16);
  position: relative;
  border-bottom: 1px solid #37af32;
  padding-left: rem(20);
  @include mq(md) {
    padding-left: rem(26);
    font-size: clamp(20px, 2vw, 24px);
    padding-bottom: rem(20);
  }
  @include mq(lg) {
    font-size: rem(30);
  }
}

.p-beautiful__second-title::before {
  position: absolute;
  content: "";
  background: #37af32;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: rem(4);
  height: rem(40);
  @include mq(md) {
    width: rem(6);
    height: rem(60);
  }
}
.p-beautiful__row {
  @include mq(md) {
    display: flex;
    gap: rem(30);
    margin-top: rem(30);
  }
  @include mq(lg) {
    margin-top: rem(40);
    gap: rem(40);
  }
}
.p-beautiful__row .p-beautiful__text {
  width: 100%;
  @include mq(md) {
    
  }
  @include mq(lg) {
    max-width: rem(300);
  }
}
.p-beautiful__row-img {
  width: 100%;
  margin-top: rem(16);
  @include mq(md) {
    max-width: rem(180);
    margin-top: initial;
  }
  @include mq(lg) {
    max-width: rem(260);
  }
}
.p-beautiful__row-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-beautiful__right {
  flex: 1;
}

.p-beautiful__img {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: initial;
  }
}
.p-beautiful__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
