@use "../global" as *;

.p-company {
  padding-top: rem(60);
  padding-bottom: rem(60);
  @include mq(md) {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
  @include mq(lg) {
    padding-top: rem(254);
    padding-bottom: rem(200);
  }
}
.p-company__block {
  @include mq(md) {
    margin-top: rem(48);
    display: flex;
    gap: rem(40);
  }
  @include mq(lg) {
    gap: rem(60);
    margin-top: rem(63);
  }
}
.p-company__block + .p-company__block {
  @include mq(md) {
    margin-top: rem(48);
  }
  @include mq(lg) {
    margin-top: rem(100);
  }
}

.p-company__info {
  flex: 1;
}

.p-company__list {
  margin-top: rem(20);
  display: flex;
  flex-direction: column;
  gap: rem(16);
  @include mq(md) {
    margin-top: rem(24);
    gap: rem(20);
  }
  @include mq(lg) {
    margin-top: rem(30);
    gap: rem(24);
  }
}

.p-company__item {
  display: flex;
  flex-direction: column;
  gap: rem(8);
  @include mq(md) {
    flex-direction: row;
    gap: rem(16);
  }
  @include mq(lg) {
    gap: rem(20);
  }
}
.p-company__sub-title {
  color: #37af32;
  font-weight: 700;
  font-size: rem(20);
  letter-spacing: 0.06em;
  line-height: calc(40 / 30);
  position: relative;
  padding-bottom: rem(8);
  border-bottom: rem(2) solid #37af32;
  @include mq(md) {
    padding-left: rem(26);
    padding-bottom: rem(12);
    font-size: clamp(20px, 2vw, 20px);
  }
  @include mq(lg) {
    padding-bottom: rem(18);
    font-size: rem(30);
  }
}
.p-company__sub-title::before {
  position: absolute;
  content: "";
  background: #37af32;
  width: rem(6);
  height: rem(60);
  left: 0;
  top: rem(-12);
}
.p-company__table {
  border-collapse: separate;
  border-spacing: rem(4);
  margin-top: rem(20);
  width: 100%;
  @include mq(md) {
    margin-top: rem(30);
  }
  @include mq(lg) {
    margin-top: rem(40);
  }
}
.p-company__label {
  color: #fff;
  background: #37af32;
  font-weight: 700;
  font-size: rem(14);
  letter-spacing: 0.3em;
  border-radius: rem(4);
  line-height: 1.6;
  width: rem(120);
  padding: rem(10);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
    width: rem(120);
    padding: rem(11);
  }
  @include mq(lg) {
    font-size: rem(20);
    width: rem(180);
  }
}

.p-company__data {
  color: #222;
  font-weight: 500;
  font-size: rem(14);
  letter-spacing: 0.06em;
  background: #ebebeb;
  line-height: 1.8;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
    padding: rem(11);
  }
  @include mq(lg) {
    font-size: rem(20);
  }
}
.p-company__data a {
  color: #222;
  text-decoration: underline;
  @media (any-hover: hover) {
    &:hover {
      color: #37af32;
    }
  }
}
.p-company__row:nth-child(even) .p-company__data {
  background: #fff;
}
.p-company__img {
  flex: 1;
  @include mq(md) {
    max-width: rem(450);
  }
  @include mq(lg) {
    max-width: rem(560);
  }
}

.p-company__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
  filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.2));
}
