@use "../global" as *;

.p-ceramic-usage {
  margin-top: rem(20);
  @include mq(md) {
    display: flex;
    gap: rem(40);
    margin-top: rem(30);
  }
  @include mq(lg) {
    gap: rem(60);
    margin-top: rem(40);
  }
}

.p-ceramic-usage__left {
  @include mq(md) {
    display: flex;
    gap: rem(24);
    flex: 1;
  }
  @include mq(lg) {
    gap: rem(50);
  }
}

.p-ceramic-usage__problems {
  margin-bottom: rem(20);
  @include mq(md) {
    margin-bottom: rem(30);
  }
}

.p-ceramic-usage__problems-title {
  font-size: rem(16);
  font-weight: 500;
  line-height: calc(32 / 20);
  letter-spacing: 0.06em;
  color: #222;
  margin-bottom: rem(12);
  @include mq(lg) {
    font-size: rem(20);
  }
}

.p-ceramic-usage__problems-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    font-size: rem(14);
    font-weight: 500;
    line-height: calc(32 / 20);
    letter-spacing: 0.06em;
    color: #222;
    @include mq(md) {
      font-size: clamp(16px, 2vw, 16px);
    }
    @include mq(lg) {
      font-size: rem(20);
    }
  }
}

.p-ceramic-usage__img-rect {
  @include mq(md) {
    max-width: rem(300);
    margin-left: auto;
  }
  @include mq(lg) {
    max-width: rem(480);
  }
}
.p-ceramic-usage__img-rect img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-ceramic-usage__img-circle {
  position: relative;
  flex-shrink: 0;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: rem(190);
    height: rem(190);
    border-radius: 50%;
    border: 3px solid #592022;
    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: rem(190);
    height: 3px;
    background-color: #592022;
    z-index: 3;
  }

  img {
    width: 100%;
    max-width: rem(190);
    height: auto;
    border-radius: 50%;
    border: 1px solid #707070;
    display: block;
    position: relative;
    z-index: 1;
  }
}

.p-ceramic-usage__right {
  margin-top: rem(30);
  @include mq(md) {
    margin-top: 0;
    flex-shrink: 0;
    max-width: rem(440);
  }
}

.p-ceramic-usage__table-title {
  font-size: rem(14);
  font-weight: 700;
  line-height: calc(32 / 20);
  letter-spacing: 0.06em;
  color: #222;
  margin-bottom: rem(10);
  @include mq(md) {
    font-size: clamp(16px, 2vw, 16px);
    margin-bottom: rem(20);
  }
  @include mq(lg) {
    font-size: rem(20);
  }
}

.p-ceramic-usage__table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: rem(16);

  th,
  td {
    border: 1px solid #1a1311;
    padding: rem(0) rem(16);
    text-align: center;
    font-size: rem(14);
    font-weight: 500;
    line-height: calc(32 / 16);
    letter-spacing: 0.06em;
    color: #222;
    @include mq(md) {
      font-size: clamp(12px, 2vw, 14px);
      padding: rem(0) rem(20);
    }
    @include mq(lg) {
      font-size: rem(16);
    }
  }

  th {
    text-align: center;
    font-weight: 500;
    border-left: initial;
  }

  td {
    text-align: center;
    border-right: initial;
  }

  th:first-child,
  td:first-child {
    width: 50%;
  }

  th:last-child,
  td:last-child {
    width: 50%;
  }
}

.p-ceramic-usage__note {
  font-size: rem(11);
  line-height: calc(15 / 12);
  color: #1a1311;
  @include mq(md) {
    font-size: clamp(11px, 2vw, 12px);
  }
  @include mq(lg) {
    font-size: rem(12);
  }
}
