@use "../global" as *;

.p-ceramic-features {
  margin-top: rem(40);
  width: 100%;
  @include mq(md) {
    flex: 1;
    margin-top: rem(60);
    margin-left: auto;
  }
  @include mq(lg) {
    margin-top: rem(80);
    max-width: rem(860);
  }
}

.p-ceramic-features__card {
  border-radius: rem(10);
  border: 2px solid #222;
  overflow: hidden;
  position: relative;
  padding-left: rem(20);
  padding-right: rem(20);
  padding-top: rem(20);
  padding-bottom: rem(40);
  

  &:not(:first-child) {
    margin-top: rem(20);
  }

  @include mq(md) {
    display: flex;
    align-items: center;
    padding-top: rem(30);
    padding-left: rem(30);
    padding-right: rem(30);
    padding-bottom: rem(40);
  }
  @include mq(lg) {
    padding-top: rem(40);
    padding-left: rem(40);
    padding-right: rem(40);
    padding-bottom: rem(65);
  }
}

.p-ceramic-features__card--brown {
  background-color: #592022;

  .p-ceramic-features__card-number,
  .p-ceramic-features__card-title,
  .p-ceramic-features__card-text,
  .p-ceramic-features__card-label {
    color: #fff;
  }

  .p-ceramic-features__card-border {
    background-color: #fff;
  }
}

.p-ceramic-features__card--white {
  background-color: #fff;
  @include mq(md) {
    gap: rem(20);
  }
  @include mq(md) {
    gap: rem(35);
  }

  .p-ceramic-features__card-number,
  .p-ceramic-features__card-title,
  .p-ceramic-features__card-label {
    color: #592022;
  }

  .p-ceramic-features__card-text {
    color: #222;
  }

  .p-ceramic-features__card-border {
    background-color: #592022;
  }
}

.p-ceramic-features__card-content {
  flex: 1;
}

.p-ceramic-features__card-header {
  display: flex;
  align-items: center;
  gap: rem(20);
}

.p-ceramic-features__card-number {
  font-family: "Montserrat", sans-serif;
  font-size: rem(20);
  font-weight: 700;
  font-style: italic;
  line-height: 1.2;
  letter-spacing: 0.06em;
}

.p-ceramic-features__card-title {
  font-size: rem(20);
  font-weight: 900;
  line-height: calc(56 / 40);
  letter-spacing: 0.06em;
  @include mq(md) {
    font-size: clamp(28px, 3vw, 36px);
  }
  @include mq(lg) {
    font-size: rem(40);
  }
}

.p-ceramic-features__card-border {
  width: 100%;
  height: 2px;
  margin-top: rem(12);
  @include mq(md) {
    margin-top: rem(20);
    max-width: rem(395);
  }
  @include mq(lg) {
    max-width: rem(600);
  }
}

.p-ceramic-features__card-text {
  font-size: rem(14);
  font-weight: 500;
  line-height: calc(32 / 20);
  letter-spacing: 0.06em;
  margin-top: rem(12);
  @include mq(md) {
    margin-top: rem(20);
    font-size: clamp(14px, 2vw, 14px);
    max-width: rem(395);
  }
  @include mq(lg) {
    font-size: rem(20);
    max-width: rem(600);
  }
}

.p-ceramic-features__card-img {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: 0;
    flex-shrink: 0;
  }
}
.p-ceramic-features__card--brown .p-ceramic-features__card-img {
  @include mq(md) {
    max-width: rem(100);
    margin-left: auto;
  }
  @include mq(lg) {
    max-width: rem(145);
  }
}
.p-ceramic-features__card--white .p-ceramic-features__card-img {
  @include mq(md) {
    margin-left: auto;
    max-width: rem(250);
  }
  @include mq(lg) {
    max-width: rem(350);
  }
}
.p-ceramic-features__card-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-ceramic-features__card-label {
  display: block;
  margin-top: rem(20);
  font-family: "Montserrat", sans-serif;
  font-size: rem(12);
  font-weight: 700;
  font-style: italic;
  line-height: calc(32 / 12);
  letter-spacing: 0.06em;
  text-align: right;
  opacity: 1;
  @include mq(md) {
    position: absolute;
    bottom: rem(16);
    right: rem(20);
    margin-top: 0;
  }
}
