@use "../global" as *;

.p-example-list {
  margin-top: rem(32);
  padding-bottom: rem(40);
  @include mq(md) {
    margin-top: rem(40);
    padding-bottom: rem(80);
  }
  @include mq(lg) {
    margin-top: rem(60);
    padding-bottom: rem(120);
  }
}

.p-example-list__content {
}

.p-example-list__cards {
  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(24);
  }
  @include mq(lg) {
    gap: rem(40);
  }
}

.p-example-list__card {
}

.p-example-list__card-link {
  display: block;
  padding: rem(16);
  border: 2px solid #37af32;
  border-radius: rem(5);
  background: #fff;
  @include mq(md) {
    border: 5px solid #37af32;
    padding: rem(20);
  }
  @include mq(lg) {
    padding: rem(30);
    border-radius: rem(10);
    border: 10px solid #37af32;
  }
}

.p-example-list__card-image {
}
.p-example-list__card-image img {
  aspect-ratio: 420 / 260;
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: rem(8);
  @include mq(md) {
    border-radius: rem(10);
  }
  @include mq(lg) {
    border-radius: rem(20);
  }
}

.p-example-list__card-detail {
  margin-top: rem(20);
  padding-left: rem(8);
  padding-right: rem(8);
  @include mq(md) {
    margin-top: rem(30);
  }
  @include mq(lg) {
    margin-top: rem(40);
  }
}

.p-example-list__card-title {
  padding-bottom: rem(4);
  border-bottom: 1px solid #37af32;
  font-size: rem(18);
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #37af32;
  @include mq(md) {
    font-size: clamp(18px, 2vw, 20px);
    padding-bottom: rem(8);
  }
  @include mq(lg) {
    padding-bottom: rem(10);
    font-size: rem(24);
  }
}

.p-example-list__bottom {
  margin-top: rem(10);
  display: flex;
  gap: rem(20);
  @include mq(md) {
    margin-top: rem(20);
  }
  @include mq(lg) {
    margin-top: rem(30);
  }
}

.p-example-list__card-data {
  flex: 1;
}

.p-example-list__row {
  display: flex;
}
.p-example-list__row + .p-example-list__row {
  margin-top: rem(10);
}

.p-example-list__row-dt {
  width: rem(80);
  white-space: nowrap;
  color: #222;
  font-size: rem(14);
  font-family: $second-font-family;
  letter-spacing: 0.06em;
  font-style: italic;
  text-transform: uppercase;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(16);
  }
}

.p-example-list__row-dd {
  color: #222;
  font-size: rem(14);
  letter-spacing: 0.06em;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(16);
  }
}

.p-example-list__icon {
  width: rem(32);
  height: rem(32);
  @include mq(md) {
    width: rem(56);
    height: rem(56);
  }
  @include mq(lg) {
    width: rem(80);
    height: rem(80);
  }
}
.p-example-list__icon svg {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-example-list__pager {
  margin-top: rem(40);
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(md) {
    margin-top: rem(80);
  }
  @include mq(lg) {
    margin-top: rem(120);
  }
}
