@use "../global" as *;

.p-intro {
  padding-top: rem(40);
  @include mq(md) {
    padding-top: rem(80);
  }
  @include mq(lg) {
    padding-top: rem(120);
  }
}

.p-intro__content {
  display: flex;
  gap: rem(20);
  @include mq(md) {
    gap: initial;
  }
}

.p-intro__vertical {
  width: 100%;
  max-width: rem(32);
  @include mq(md) {
    max-width: rem(50);
  }
}
.p-intro__vertical img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-intro__detail-row {
  display: block;
  position: relative;
  @include mq(md) {
    display: flex;
  }
}
.p-intro__detail-row::before {
  position: absolute;
  content: "";
  background: #707070;
  height: 1px;
  top: 0;
  left: 0;
  right: calc(50% - 50vw);
}
.p-intro__vertical img {
}

.p-intro__detail {
  @include mq(md) {
    margin-left: rem(40);
    margin-top: rem(20);
  }
  @include mq(lg) {
    margin-left: rem(80);
    margin-top: rem(32);
  }
}

.p-intro__title {
  line-height: calc(121 / 100);
  color: #222;
  font-weight: 500;
  white-space: nowrap;
  font-size: rem(24);
  @include mq(md) {
    font-size: rem(60);
  }
  @include mq(lg) {
    font-size: rem(100);
  }
}
.p-intro__title span {
  font-weight: 900;
}

.p-intro__en {
  font-family: $second-font-family;
  font-style: italic;
  font-weight: 900;
  color: #222;
  font-size: rem(24);
  @include mq(md) {
    font-size: rem(60);
    margin-top: rem(-10);
    white-space: nowrap;
  }
  @include mq(lg) {
    font-size: rem(110);
    margin-top: rem(-16);
  }
}

.p-intro__small {
  color: #222;
  letter-spacing: 0.06em;
  font-weight: 600;
  font-family: $second-font-family;
  font-style: italic;
  font-size: rem(12);
  @include mq(md) {
    font-size: clamp(10px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(18);
  }
}

.p-intro__row {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(40);
  }
  @include mq(lg) {
    margin-top: rem(80);
  }
}

.p-intro__icon {
  width: 100%;
  @include mq(md) {
    max-width: rem(160);
  }
  @include mq(lg) {
    max-width: rem(220);
  }
}
.p-intro__icon img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-intro__row-text {
  margin-left: rem(10);
  white-space: nowrap;
  border-left: 1px solid #222;
  padding-left: rem(10);
  line-height: calc(26 / 18);
  font-weight: 500;
  letter-spacing: 0.06em;
  color: #222;
  font-size: rem(12);
  @include mq(md) {
    margin-left: rem(20);
    padding-left: rem(10);
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    margin-left: rem(40);
    padding-left: rem(20);
    font-size: rem(18);
  }
}

.p-intro__img {
  margin-right: calc(50% - 50vw);
  @include mq(md) {
    margin-top: initial;
    margin-left: rem(64);
  }
  @include mq(lg) {
    margin-left: rem(150);
    margin-top: rem(-40);
  }
}
.p-intro__img--ftype {
  @include mq(md) {
    margin-left: rem(32);
  }
  @include mq(lg) {
    margin-left: rem(-90);
  }
}
.p-intro__img--eco {
  @include mq(md) {
    margin-left: rem(20);
  }
  @include mq(lg) {
    margin-left: rem(27);
  }
}
.p-intro__img--ceramic {
  @include mq(md) {
    margin-left: rem(20);
  }
  @include mq(lg) {
    margin-left: rem(-72);
  }
}
.p-intro__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.w362 {
  @include mq(md) {
    min-width: rem(200);
  }
  @include mq(lg) {
    min-width: rem(362);
  }
}
.w310 {
  @include mq(md) {
    min-width: rem(180);
  }
  @include mq(lg) {
    min-width: rem(310);
  }
}
.w251 {
  @include mq(md) {
    min-width: rem(150);
  }
  @include mq(lg) {
    min-width: rem(251);
  }
}
