@use "../global" as *;

.p-land {
  padding-top: rem(40);
  padding-bottom: rem(40);
  @include mq(md) {
    padding-top: rem(120);
    padding-bottom: rem(80);
  }
  @include mq(lg) {
    padding-top: rem(220);
    padding-bottom: rem(120);
  }
}

.p-land__content {
  display: flex;
  flex-direction: column;
  gap: rem(24);
  @include mq(md) {
    flex-direction: row;
    gap: rem(60);
  }
  @include mq(lg) {
    gap: rem(111);
  }
}

.p-land__detail {
  flex: 1;
  width: 100%;
  @include mq(md) {
    width: 50vw;
  }
  @include mq(lg) {
    max-width: rem(669);
  }
}

.p-land__kind {
  color: #37af32;
  font-weight: 700;
  font-size: rem(14);
  letter-spacing: 0.06em;
  line-height: 1.5;
  position: relative;
  @include mq(md) {
    font-size: clamp(16px, 2vw, 16px);
    padding-left: rem(15);
  }
  @include mq(lg) {
    font-size: rem(20);
  }
}
.p-land__kind::before {
  position: absolute;
  content: "";
  background: url(../images/common/circle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(10);
  height: rem(10);
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.p-land__title {
  color: #37af32;
  font-weight: 700;
  font-size: rem(32);
  letter-spacing: 0.06em;
  line-height: calc(192 / 160);
  @include mq(md) {
    font-size: rem(88);
  }
  @include mq(lg) {
    font-size: rem(160);
    white-space: nowrap;
  }
}

.p-land__subtitle {
  color: #222;
  font-weight: 700;
  font-size: rem(16);
  letter-spacing: 0.2em;
  line-height: calc(56 / 40);
  margin-top: rem(16);
  @include mq(md) {
    font-size: clamp(18px, 2vw, 20px);
    margin-top: rem(30);
  }
  @include mq(lg) {
    font-size: rem(40);
    margin-top: rem(60);
  }
}

.p-land__text {
  color: #222;
  font-weight: 500;
  font-size: rem(14);
  letter-spacing: 0.06em;
  line-height: calc(32 / 20);
  margin-top: rem(15);
  @include mq(md) {
    font-size: clamp(16px, 2vw, 16px);
    margin-top: rem(12);
  }
  @include mq(lg) {
    font-size: rem(20);
    margin-top: rem(20);
    max-width: rem(600);
  }
}

.p-land__img {
  flex: 1;
  position: relative;
  @include mq(md) {
    padding-right: rem(40);
    margin-right: calc(50% - 50vw);
    width: 50vw;
  }
}
.p-land__img::before {
  position: absolute;
  content: "";
  background: url(../images/about/wave.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  top: rem(40);
  right: 0;
  aspect-ratio: 1150 / 380;
  object-fit: cover;
  width: rem(320);
  z-index: -1;
  @include mq(md) {
    width: rem(800);
    top: rem(200);
  }
  @include mq(lg) {
    top: rem(440);
    width: rem(1150);
  }
}

.p-land__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
