@use "../global" as *;

.p-maker {
  position: relative;
  @include mq(md) {
    margin-top: rem(64);
  }
  @include mq(lg) {
    margin-top: rem(84);
  }
}
.p-maker::before {
  position: absolute;
  content: "";
  background: url(../images/company/maker_wave.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  aspect-ratio: 500 / 165;
  object-fit: cover;
  width: rem(120);
  top: rem(350);
  left: 0;
  @include mq(md) {
    width: rem(500);
    top: rem(300);
    left: rem(-40);
  }
}
.p-maker__inner {
  padding-left: rem(20);
  padding-right: rem(20);
  @include mq(md) {
    padding-left: rem(40);
    padding-right: rem(40);
  }
}

.p-maker__content {
  @include mq(md) {
    display: flex;
    gap: rem(96);
  }
  @include mq(lg) {
    gap: initial;
    padding-left: rem(200);
  }
}

.p-maker__logo {
  width: rem(120);
  transform: rotate(-90deg);
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    margin-left: initial;
    margin-right: initial;
    width: rem(140);
    transform: initial;
  }
  @include mq(lg) {
    min-width: rem(179);
    max-width: rem(179);
    margin-top: rem(88);
  }
}

.p-maker__logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-maker__detail {
  @include mq(md) {
    max-width: rem(600);
    width: 100%;
  }
  @include mq(lg) {
    margin-left: rem(190);
    margin-top: rem(108);
  }
}

.p-maker__title {
  font-size: rem(20);
  letter-spacing: 0.2em;
  font-weight: 700;
  color: #222;
  line-height: calc(56 / 40);
  @include mq(md) {
    font-size: clamp(20px, 2vw, 25px);
  }
  @include mq(lg) {
    font-size: clamp(20px, 1.8vw, 40px);
  }
}

.p-maker__text {
  font-size: rem(14);
  letter-spacing: 0.06em;
  color: #222;
  line-height: calc(32 / 20);
  margin-top: rem(10);
  @include mq(md) {
    font-size: clamp(16px, 2vw, 16px);
    margin-top: rem(20);
  }
  @include mq(lg) {
    margin-top: rem(30);
    font-size: rem(20);
  }
}

.p-maker__img {
  width: 100%;
  margin-left: auto;
  @include mq(md) {
    max-width: rem(400);
    flex: 1;
  }
  @include mq(lg) {
    max-width: rem(560);
  }
}
.p-maker__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
