@use "../global" as *;

.p-mv {
  overflow-x: clip;
}

.p-mv__content {
  position: relative;
}

.p-mv__img {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: 100vw;
}

.p-mv__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
// .p-opening {
//  position: fixed;
//  width: 100%;
//  height: 100vh;
//  background: #fff;
//  z-index: 99999;
// }
// .p-opening__img {
//   mask-image: url(../images/top/kawara.png);
//   mask-repeat: no-repeat;
//   mask-size: 30%;
//   mask-position: center;
//   height: 100vh;
//   width: 100%;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   background: transparent;
// }
// .p-mv {
//   height: 100vh;
// }