@use "../global" as *;

.p-munsell {
  padding-top: rem(40);
  padding-bottom: rem(40);
  @include mq(md) {
    padding-top: rem(80);
    padding-bottom: rem(100);
  }
  @include mq(lg) {
    padding-top: rem(194);
    padding-bottom: rem(200);
  }
}

.p-munsell__content {
  position: relative;
}

.p-munsell__title-wrapper {
  margin-bottom: rem(20);
  @include mq(md) {
    margin-bottom: rem(45);
  }
  @include mq(lg) {
    margin-bottom: rem(90);
  }
}

.p-munsell__title-en {
  font-family: "Montserrat", sans-serif;
  font-size: rem(18);
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.06em;
  color: #37af32;
  margin-bottom: rem(8);
  position: relative;
  @include mq(md) {
    font-size: clamp(18px, 2.5vw, 24px);
    margin-bottom: rem(10);
    padding-left: rem(30);
  }
  @include mq(lg) {
    font-size: rem(50);
  }
}
.p-munsell__title-en::before {
  position: absolute;
  content: "";
  background: #37af32;
  width: rem(10);
  height: rem(10);
  border-radius: 9999px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.p-munsell__title-ja {
  font-size: rem(24);
  font-weight: 700;
  line-height: calc(32 / 24);
  letter-spacing: 0.06em;
  color: #fff;
  @include mq(md) {
    font-size: clamp(28px, 4vw, 50px);
  }
  @include mq(lg) {
    font-size: rem(100);
  }
}

.p-munsell__text-wrapper {
  margin-bottom: rem(20);

  @include mq(md) {
    text-align: center;
    margin-bottom: rem(30);
  }
  @include mq(lg) {
    margin-bottom: rem(40);
  }
}

.p-munsell__text {
  font-size: rem(14);
  font-weight: 500;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #222;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 16px);
  }
  @include mq(lg) {
    font-size: rem(16);
  }
}

.p-munsell__table-wrapper {
  margin-bottom: rem(40);
  @include mq(md) {
    margin-bottom: rem(60);
  }
  @include mq(lg) {
    margin-bottom: rem(90);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.p-munsell__table-header {
  background-color: #37af32;
  border-radius: rem(5) rem(5) 0 0;
  padding: rem(15) rem(20);
  @include mq(md) {
    padding: rem(20) rem(30);
  }
  @include mq(lg) {
    padding: rem(23) rem(40);
  }
}

.p-munsell__table-header-text {
  font-size: rem(16);
  font-weight: 500;
  line-height: calc(32 / 30);
  letter-spacing: 0.06em;
  color: #fff;
  @include mq(md) {
    font-size: clamp(18px, 2.5vw, 24px);
  }
  @include mq(lg) {
    font-size: rem(30);
  }
}

.p-munsell__table {
  width: 100%;
  background-color: #c7c7cc;
  border-radius: 0 0 rem(5) rem(5);
  padding: rem(20);
  border-collapse: separate;
  border-spacing: rem(1) rem(5);
  @include mq(md) {
    padding: rem(30);
  }
  @include mq(lg) {
    padding-top: rem(30);
    padding-bottom: rem(40);
    padding-left: rem(40);
    padding-right: rem(40);
  }
}

.p-munsell__table-th {
  background-color: #c7c7cc;
  padding: rem(6) rem(10);
  font-size: rem(14);
  font-weight: 500;
  line-height: calc(26 / 18);
  letter-spacing: 0.06em;
  color: #fff;
  text-align: center;
  @include mq(md) {
    padding: rem(8) rem(12);
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    padding: rem(10) rem(15);
    font-size: rem(18);
  }
}

.p-munsell__table-td {
  background-color: #fff;
  padding: rem(12) rem(10);
  font-size: rem(14);
  font-weight: 500;
  line-height: calc(29 / 20);
  letter-spacing: 0.06em;
  color: #222;
  text-align: center;
  @include mq(md) {
    padding: rem(16) rem(12);
    font-size: clamp(14px, 2vw, 14px);
    width: 25%;
  }
  @include mq(lg) {
    padding: rem(20) rem(15);
    font-size: rem(20);
  }
}
.p-munsell__table-td:first-child {
  border-top-left-radius: rem(5);
  border-bottom-left-radius: rem(5);
}
.p-munsell__table-td:last-child {
  border-top-right-radius: rem(5);
  border-bottom-right-radius: rem(5);
}

.p-munsell__note {
  background-color: #f6f6f6;
  padding: rem(20);
  margin-top: rem(40);
  @include mq(md) {
    padding: rem(30);
    margin-top: rem(60);
  }
  @include mq(lg) {
    padding: rem(40);
    margin-top: rem(90);
  }
}

.p-munsell__note-text {
  font-size: rem(14);
  font-weight: 500;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #222;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(16);
  }
}