@use "../global" as *;

.p-mv {
  overflow-x: clip;
}

.p-mv__content {
  position: relative;
}

.p-mv__img {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: 100vw;
}

.p-mv__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
