@use "../global" as *;

.p-noncombustible {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(60);
  }
  @include mq(lg) {
    margin-top: rem(100);
  }
}

.p-noncombustible__title-wrapper {
  margin-bottom: rem(20);
  @include mq(md) {
    margin-bottom: rem(30);
  }
  @include mq(lg) {
    margin-bottom: rem(40);
  }
}

.p-noncombustible__title {
  font-size: rem(20);
  font-weight: 700;
  line-height: calc(40 / 30);
  letter-spacing: 0.06em;
  color: #37af32;
  padding-left: rem(26);
  border-bottom: 2px solid #37af32;
  padding-bottom: rem(10);
  position: relative;
  @include mq(md) {
    font-size: clamp(24px, 3vw, 28px);
    padding-bottom: rem(12);
  }
  @include mq(lg) {
    font-size: rem(30);
    padding-bottom: rem(14);
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: rem(6);
    background-color: #37af32;
    height: rem(40);
    @include mq(md) {
      top: 50%;
      height: rem(40);
    }
    @include mq(lg) {
      top: 39%;
      height: rem(60);
    }
  }
}

.p-noncombustible__text-wrapper {
  margin-bottom: rem(20);
  @include mq(md) {
    margin-bottom: rem(30);
  }
  @include mq(lg) {
    margin-bottom: rem(40);
  }
}

.p-noncombustible__text {
  font-size: rem(16);
  font-weight: 500;
  line-height: calc(32 / 20);
  letter-spacing: 0.06em;
  color: #222;
  @include mq(md) {
    font-size: clamp(16px, 2.5vw, 18px);
  }
  @include mq(lg) {
    font-size: rem(20);
  }
}

.p-noncombustible__image-wrapper {
  margin-bottom: rem(20);
  @include mq(md) {
    margin-bottom: rem(30);
  }
  @include mq(lg) {
    margin-bottom: rem(40);
  }

  img {
    width: 100%;
    max-width: rem(760);
    height: auto;
    display: block;
    margin: 0 auto;
  }
}
