@use "../global" as *;

.p-professional-catalog {
  padding-top: rem(40);
  padding-bottom: rem(40);
  @include mq(md) {
    padding-top: rem(80);
    padding-bottom: rem(120);
  }
  @include mq(lg) {
    padding-top: rem(135);
    padding-bottom: rem(200);
  }
}
.p-professional-catalog__content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(12);
  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: rem(20);
  }
  @include mq(lg) {
    gap: rem(55);
  }
}
.p-professional-catalog__card {
  padding: rem(20);
  background-color: #fff;
  border: 5px solid #37af32;
  border-radius: rem(10);
  text-decoration: none;
  transition: all 0.3s ease;
  display: block;
  position: relative;
  @include mq(md) {
    padding: rem(30);
  }
  @include mq(lg) {
    padding: rem(36);
  }
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(55, 175, 50, 0.2);

    .p-professional-catalog__arrow {
      transform: translateX(5px);
    }
  }
}
.p-professional-catalog__row {
  display: flex;
  align-items: center;
}
.p-professional-catalog__icon {
  flex-shrink: 0;
  width: rem(40);
  height: rem(40);

  @include mq(md) {
    width: rem(51);
    height: rem(50);
  }

  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.p-professional-catalog__title {
  font-size: rem(20);
  font-weight: 700;
  line-height: calc(40 / 26);
  letter-spacing: 0.06em;
  color: #222;
  margin-left: rem(8);
  @include mq(md) {
    font-size: clamp(16px, 2vw, 16px);
    margin-left: rem(12);
  }
  @include mq(lg) {
    margin-left: rem(15);
    font-size: rem(26);
  }
}

.p-professional-catalog__text {
  font-size: rem(14);
  font-weight: 500;
  line-height: calc(32 / 20);
  letter-spacing: 0.06em;
  color: #222;
  border-top: 1px solid #c7c7cc;
  padding-top: rem(10);
  margin-top: rem(10);
  @include mq(md) {
    font-size: clamp(16px, 2vw, 16px);
    padding-top: rem(15);
    margin-top: rem(15);
  }
  @include mq(lg) {
    font-size: rem(20);
  }
}

.p-professional-catalog__arrow {
  flex-shrink: 0;
  width: rem(18);
  height: rem(10);
  transition: transform 0.3s ease;
  margin-left: auto;

  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}
