@use "../global" as *;

.p-page-mvText {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(64);
  }
  @include mq(lg) {
    margin-top: rem(135);
  }
}
.mt156 {
  @include mq(lg) {
    margin-top: rem(156);
  }
}
.p-page-mvText__content {
  text-align: center;
}

.p-page-mvText__main {
  font-weight: 500;
  line-height: calc(32 / 20);
  letter-spacing: 0.06em;
  color: #222;
  font-size: rem(14);
  @include mq(md) {
    text-align: center;
    font-size: clamp(16px, 2vw, 16px);
  }
  @include mq(lg) {
    font-size: rem(20);
  }
}

.p-page-mvText__small {
  font-size: rem(10);
  
  font-weight: 500;
  line-height: calc(32 / 20);
  letter-spacing: 0.06em;
  color: #222;
  margin-top: rem(8);
  @include mq(md) {
    text-align: center;
    font-size: clamp(12px, 2vw, 12px);
    margin-top: rem(16);
  }

  @include mq(lg) {
    font-size: rem(10);
    margin-top: rem(20);
  }
}
