@use "../global" as *;

.p-product-features {
  padding-top: rem(40);
  @include mq(md) {
    padding-top: rem(80);
  }
  @include mq(lg) {
    padding-top: rem(132);
  }
}

.p-product-features__content {
  @include mq(md) {
    display: flex;
    gap: rem(64);
  }
  @include mq(lg) {
    gap: rem(156);
  }
}
.p-product-features__content--ftype {
  @include mq(md) {
    gap: rem(24);
  }
  @include mq(lg) {
    gap: rem(48);
  }
}
.p-product-features__title-wrapper {
  @include mq(md) {
    white-space: nowrap;
  }
}

.p-product-features__title {
}

.p-product-features__detail {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(40);
  }
  @include mq(lg) {
    margin-top: rem(60);
  }
}

.p-product-features__detail-text {
  font-size: rem(18);
  line-height: calc(56 / 40);
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #222;
  @include mq(md) {
    font-size: clamp(20px, 2vw, 20px);
  }
  @include mq(lg) {
    font-size: rem(40);
  }
}

.p-product-features__detail-small {
  font-size: rem(14);
  line-height: calc(32 / 20);
  font-weight: 500;
  letter-spacing: 0.06em;
  color: #222;
  margin-top: rem(12);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
    margin-top: rem(20);
  }
  @include mq(lg) {
    margin-top: rem(40);
  }
}

.p-product-features__triple {
  margin-top: rem(24);
  display: grid;
  gap: rem(16);
  @include mq(md) {
    margin-top: initial;
    grid-template-columns: 1fr 1fr;
    gap: rem(20);
  }
  @include mq(lg) {
    grid-template-columns: 420px 1fr;
    gap: rem(20);
  }
}

.p-product-features__right {
  display: grid;
  gap: rem(16);
  @include mq(md) {
    grid-template-rows: auto auto;
    gap: rem(20);
  }
  @include mq(lg) {
    gap: rem(20);
  }
}

// カード共通
.p-product-features__card {
  border: 2px solid #222;
  border-radius: rem(10);
  position: relative;
  padding-left: rem(20);
  padding-right: rem(20);
  padding-top: rem(20);
  padding-bottom: rem(40);

  @include mq(md) {
    padding-top: rem(30);
    padding-left: rem(30);
    padding-right: rem(30);
    padding-bottom: rem(50);
  }
  @include mq(lg) {
    padding-top: rem(40);
    padding-left: rem(40);
    padding-right: rem(40);
    padding-bottom: rem(60);
  }
}

.p-product-features__card--white {
  background-color: #fff;
}

.p-product-features__card--red {
  background-color: #ca4844;
}

// カードヘッダー
.p-product-features__card-header {
  display: flex;
  align-items: center;
  gap: rem(10);
}

.p-product-features__card-number {
  font-family: $second-font-family;
  font-weight: 700;
  font-style: italic;
  color: #ca4844;
  line-height: calc(32 / 20);
  letter-spacing: 0.06em;
  font-size: rem(14);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(20);
  }
}

.p-product-features__card-title {
  font-weight: 900;
  color: #ca4844;
  line-height: calc(56 / 40);
  letter-spacing: 0.06em;
  font-size: rem(20);
  @include mq(md) {
    font-size: clamp(20px, 2vw, 28px);
  }
  @include mq(lg) {
    font-size: rem(40);
  }
}

// 赤いライン
.p-product-features__card-line {
  width: 100%;
  height: rem(2);
  background-color: #ca4844;
  margin-top: rem(8);
  margin-bottom: rem(8);
  @include mq(md) {
    margin-top: rem(20);
    margin-bottom: rem(20);
  }
  @include mq(lg) {
    margin-top: rem(20);
    margin-bottom: rem(20);
  }
}

// テキスト
.p-product-features__card-text {
  font-weight: 500;
  color: #222;
  line-height: calc(32 / 20);
  letter-spacing: 0.06em;
  font-size: rem(14);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(20);
  }
}

// 詳細（画像+キャプション）
.p-product-features__card-detail {
  display: flex;
  align-items: flex-start;
  gap: rem(20);
  @include mq(md) {
    margin-top: rem(20);
    gap: rem(20);
  }
  @include mq(lg) {
    margin-top: rem(20);
    gap: rem(40);
  }
}

.p-product-features__card-img {
  flex-shrink: 0;
  max-width: rem(100);
  width: 100%;
}

.p-product-features__card-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.p-product-features__card-caption {
  font-size: rem(16);
  font-weight: 500;
  color: #222;
  line-height: calc(28.8 / 16);
  letter-spacing: 0.06em;
  flex: 1;
}

// _Slope
.p-product-features__card-slope {
  position: absolute;
  font-family: $second-font-family;
  font-weight: 700;
  font-style: italic;
  color: #ca4844;
  line-height: calc(32 / 12);
  letter-spacing: 0.06em;
  text-align: right;
  opacity: 0.7;
  font-size: rem(12);
  bottom: rem(12);
  right: rem(12);
  @include mq(md) {
    bottom: rem(16);
    right: rem(16);
    font-size: clamp(10px, 2vw, 12px);
  }
  @include mq(lg) {
    bottom: rem(20);
    right: rem(20);
    font-size: rem(12);
  }
}

// 白いバージョン（赤背景用）
.p-product-features__card-number--white {
  color: #fff;
}

.p-product-features__card-title--white {
  color: #fff;
}

.p-product-features__card-line--white {
  background-color: #fff;
  border: 1px solid #fff;
}

.p-product-features__card-text--white {
  color: #fff;
}

.p-product-features__card-slope--white {
  color: #fff;
}

.p-product-features__card-slope--purple {
  color: rgba($color: #8f82bc, $alpha: 0.7);
}

// メリットセクション
.p-product-features__merit {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(40);
  }
  @include mq(lg) {
    margin-top: rem(50);
  }
}

.p-product-features__merit-title {
  font-weight: 700;
  color: #222;
  line-height: calc(32 / 26);
  letter-spacing: 0.06em;
  font-size: rem(18);
  @include mq(md) {
    font-size: clamp(20px, 2vw, 20px);
  }
  @include mq(lg) {
    font-size: rem(26);
  }
}

.p-product-features__merit-line {
  width: 100%;
  height: 1px;
  background-color: #222;
  border: 1px solid #222;
  margin-top: rem(4);
  margin-bottom: rem(8);
  @include mq(md) {
    margin-top: rem(8);
    margin-bottom: rem(30);
  }
  @include mq(lg) {
    margin-top: rem(10);
    margin-bottom: rem(40);
  }
}

// 比較セクション
.p-product-features__compare {
  display: flex;
  gap: rem(28);
  justify-content: center;
  @include mq(md) {
    margin-bottom: rem(30);
  }
  @include mq(lg) {
    margin-bottom: rem(40);
  }
}

.p-product-features__compare-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-product-features__compare-label {
  font-size: rem(16);
  font-weight: 700;
  color: #fff;
  line-height: 1;
  text-align: center;
  @include mq(md) {
    margin-bottom: rem(20);
  }
  @include mq(lg) {
    margin-bottom: rem(25);
  }
}

.p-product-features__compare-img {
  max-width: rem(100);
  width: 100%;
}

.p-product-features__compare-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

// メリットリスト
.p-product-features__merit-list {
  margin-top: rem(16);
  @include mq(md) {
    padding: 0;
    margin: 0;
  }
}

.p-product-features__merit-list li {
  font-weight: 500;
  color: #fff;
  line-height: calc(32 / 20);
  letter-spacing: 0.06em;
  font-size: rem(14);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(20);
  }
}

// BSルーフ用の緑色カード
.p-product-features__cards {
  margin-top: rem(24);
  @include mq(md) {
    flex: 1;
    margin-left: auto;
    margin-top: rem(40);
    max-width: rem(640);
  }
  @include mq(lg) {
    max-width: rem(860);
    margin-top: rem(60);
  }
}

.p-product-features__card--green {
  background-color: #37af32;
}

.p-product-features__card--purple {
  background-color: #8f82bc;
}

.p-product-features__card--wide {
  @include mq(md) {
    margin-bottom: rem(20);
    display: flex;
    gap: rem(30);
  }
  @include mq(lg) {
    gap: rem(60);
    margin-bottom: rem(20);
  }
}

.p-product-features__grid-two {
  display: grid;
  gap: rem(16);
  margin-top: rem(16);
  @include mq(md) {
    margin-top: initial;
    grid-template-columns: 1fr 1fr;
    gap: rem(20);
  }
  @include mq(lg) {
    gap: rem(20);
  }
}
.p-product-features__grid-two + .p-product-features__grid-two {
  margin-top: rem(10);
}
// 緑色用のバリエーション
.p-product-features__card-number--green {
  color: #37af32;
}

.p-product-features__card-title--green {
  color: #37af32;
}

.p-product-features__card-line--green {
  background-color: #37af32;
}

.p-product-features__card-slope--green {
  color: #37af32;
}

.p-product-features__card-number--purple {
  color: #8f82bc;
}

.p-product-features__card-title--purple {
  color: #8f82bc;
}

// オレンジ色用のスタイル（FタイプU）
.p-product-features__card--orange {
  background-color: #f08300;
}

.p-product-features__card-number--orange {
  color: #f08300;
}

.p-product-features__card-title--orange {
  color: #f08300;
}

.p-product-features__card-line--orange {
  background-color: #f08300;
}

.p-product-features__card-slope--orange {
  color: rgba(#f08300, 0.7);
}

// オプションセクション
.p-product-features__options {
  display: grid;
  gap: rem(8);
  margin-top: rem(12);
  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: rem(10);
    margin-top: rem(20);
  }
  @include mq(lg) {
    gap: rem(15);
    margin-top: rem(30);
  }
}

.p-product-features__option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-product-features__option-img {
  width: 100%;
  @include mq(md) {
    max-width: rem(110);
    margin-bottom: rem(8);
  }
  @include mq(lg) {
    margin-bottom: rem(10);
  }
}

.p-product-features__option-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.p-product-features__option-caption {
  font-weight: 500;
  color: #fff;
  text-align: center;
  line-height: calc(32 / 14);
  letter-spacing: 0.06em;
  font-size: rem(12);
  @include mq(md) {
    font-size: clamp(12px, 2vw, 12px);
  }
  @include mq(lg) {
    font-size: rem(14);
  }
}

// 互換性の画像
.p-product-features__compatible-img {
  width: 100%;
  margin-top: rem(12);
  @include mq(md) {
    margin-top: rem(4);
    max-width: rem(100);
    margin-left: auto;
  }
}

.p-product-features__compatible-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

// 大きな画像
.p-product-features__card-img-large {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: initial;
  }
}
.p-product-features__card-img-large--second {
  margin-top: rem(20);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    max-width: rem(200);
  }
  @include mq(lg) {
    max-width: rem(260);
  }
}
.p-product-features__card-img-large img,
.p-product-features__card-img-large--second img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.fit-content {
  height: fit-content;
}
