@use "../global" as *;

.p-related-links {
  margin-top: rem(40);
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  @include mq(md) {
    margin-top: rem(60);
    display: flex;
  }
  @include mq(lg) {
    margin-top: rem(100);
  }
}

.p-related-links__header {
  background-color: #222;
  padding: rem(20) rem(12);
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(md) {
    width: rem(350);
    flex-shrink: 0;
    padding: rem(60) rem(30);
  }
  @include mq(lg) {
    padding: rem(75) rem(40);
  }
}

.p-related-links__title {
  font-size: rem(16);
  font-weight: 500;
  line-height: calc(32 / 20);
  letter-spacing: 0.06em;
  color: #fff;
  text-align: center;
  @include mq(md) {
    font-size: clamp(18px, 2.5vw, 20px);
  }
  @include mq(lg) {
    font-size: rem(20);
  }
}

.p-related-links__list {
  flex: 1;
  @include mq(md) {
    border-left: 1px solid #222;
  }
}

.p-related-links__item {
  display: block;
  padding: rem(10) rem(20);
  border-bottom: 1px solid #222;
  text-decoration: none;
  transition: background-color 0.3s ease;
  @include mq(md) {
    padding: rem(20) rem(30);
    display: flex;
    align-items: center;
    gap: rem(10);
  }
  @include mq(lg) {
    padding: rem(30) rem(40);
  }

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: #f6f6f6;
  }
}
.p-related-links__item:first-child {
  border-bottom: 1px dotted #222;
}

.p-related-links__item-title {
  font-size: rem(16);
  font-weight: 500;
  line-height: calc(32 / 20);
  letter-spacing: 0.06em;
  color: #37af32;
  text-decoration: underline;
  @include mq(md) {
    font-size: clamp(16px, 2.5vw, 18px);
  }
  @include mq(lg) {
    font-size: rem(20);
  }
}

.p-related-links__item-subtitle {
  font-size: rem(14);
  font-weight: 500;
  line-height: calc(32 / 16);
  letter-spacing: 0.06em;
  color: #222;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 16px);
  }
  @include mq(lg) {
    font-size: rem(16);
  }
}
