@use "../global" as *;

.p-strong {
  padding-top: rem(48);
  @include mq(md) {
    padding-top: rem(120);
  }
  @include mq(lg) {
    padding-top: rem(254);
  }
}

.p-strong--last {
  padding-bottom: rem(60);
  @include mq(md) {
    padding-bottom: rem(80);
  }
  @include mq(lg) {
    padding-bottom: rem(120);
  }
}

.p-strong__content {
  position: relative;
}
.p-strong__content::before {
  position: absolute;
  content: "";
  background: url(../images/reason/strong_bg.png) no-repeat center center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  aspect-ratio: 1425 / 414;
  object-fit: cover;
  left: 0;
  top: rem(-32);
  width: rem(240);
  @include mq(md) {
    width: rem(1000);
    top: rem(-80);
  }
  @include mq(lg) {
    width: rem(1425);
    top: rem(-140);
  }
}

.p-strong__top {
  position: relative;
}
.p-strong__top::before {
  position: absolute;
  content: "";
  background: url(../images/reason/strong_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  aspect-ratio: 460 / 380;
  object-fit: cover;
  right: 0;
  top: 0;
  width: rem(100);
  @include mq(md) {
    width: rem(320);
    top: rem(-80);
  }
  @include mq(lg) {
    width: rem(460);
    top: rem(-160);
  }
}
.p-strong__top--cold::before {
  position: absolute;
  content: "";
  background: url(../images/reason/strong_icon2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  aspect-ratio: 460 / 380;
  object-fit: cover;
  right: 0;
  top: 0;
  width: rem(100);
  @include mq(md) {
    width: rem(320);
    top: rem(-80);
  }
  @include mq(lg) {
    width: rem(460);
    top: rem(-160);
  }
}
.p-strong__top--guide::before {
  position: absolute;
  content: "";
  background: url(../images/reason/strong_icon3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  aspect-ratio: 460 / 380;
  object-fit: cover;
  right: 0;
  top: 0;
  width: rem(100);
  @include mq(md) {
    width: rem(320);
    top: rem(-80);
  }
  @include mq(lg) {
    width: rem(460);
    top: rem(-160);
  }
}
.p-strong__top--hot::before {
  position: absolute;
  content: "";
  background: url(../images/reason/strong_icon4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(460);
  height: auto;
  aspect-ratio: 460 / 380;
  object-fit: cover;
  top: 0;
  width: rem(100);
  right: 0;
  @include mq(md) {
    width: rem(320);
    top: rem(-80);
  }
  @include mq(lg) {
    width: rem(460);
    top: rem(-160);
  }
  @include mq(md) {
    width: rem(460);
    top: rem(-160);
  }
}
.p-strong__top--ear::before {
  position: absolute;
  content: "";
  background: url(../images/reason/strong_icon5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  aspect-ratio: 460 / 380;
  object-fit: cover;
  top: 0;
  width: rem(100);
  right: 0;
  @include mq(md) {
    width: rem(320);
    top: rem(-80);
  }
  @include mq(lg) {
    width: rem(460);
    top: rem(-160);
  }
}
.p-strong__top--economic::before {
  position: absolute;
  content: "";
  background: url(../images/reason/strong_icon6.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  aspect-ratio: 460 / 380;
  object-fit: cover;
  top: 0;
  width: rem(100);
  @include mq(md) {
    width: rem(320);
    top: rem(-80);
  }
  @include mq(lg) {
    width: rem(460);
    top: rem(-160);
  }
  right: 0;
}
.p-strong__top--kind::before {
  position: absolute;
  content: "";
  background: url(../images/reason/strong_icon7.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  aspect-ratio: 460 / 380;
  object-fit: cover;
  right: 0;
  top: 0;
  width: rem(100);
  @include mq(md) {
    width: rem(320);
    top: rem(-80);
  }
  @include mq(lg) {
    width: rem(460);
    top: rem(-160);
  }
}
.p-strong__topText {
  font-size: rem(14);
  line-height: calc(36 / 20);
  letter-spacing: 0.06em;
  font-weight: 700;
  color: #222;
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(32);
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    margin-top: rem(46);
    font-size: rem(20);
  }
}

.p-strong__img {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: 100vw;
  margin-top: rem(20);
  @include mq(md) {
    padding-left: rem(40);
    padding-right: rem(40);
    margin-top: rem(30);
  }
  @include mq(lg) {
    margin-top: rem(40);
  }
}
.p-strong__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-strong__box {
  background: #fff;
  border: 2px solid #37af32;
  padding: rem(16);
  border-radius: rem(5);
  margin-top: rem(20);
  @include mq(md) {
    border-radius: rem(10);
    margin-top: rem(30);
    padding: rem(30);
    display: flex;
    gap: rem(48);
  }
  @include mq(lg) {
    margin-top: rem(40);
    padding: rem(40);
    gap: rem(80);
  }
}

.p-strong__box-block {
  @include mq(lg) {
    max-width: rem(660);
  }
}
.p-strong__box-block:nth-child(2) {
  @include mq(lg) {
    max-width: rem(700);
  }
}

.p-strong__box-row {
  @include mq(md) {
    display: flex;
    gap: rem(40);
  }
}

.p-strong__box-detail {
  width: 100%;
  @include mq(md) {
    max-width: rem(200);
  }
  @include mq(lg) {
    max-width: rem(260);
  }
}

.p-strong__box-detail-text {
  font-size: rem(14);
  color: #37af32;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: calc(32 / 20);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(20);
  }
}

.p-strong__box-detail-title {
  line-height: calc(56 / 40);
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #222;
  font-size: rem(18);
  @include mq(md) {
    margin-top: rem(8);
    font-size: clamp(16px, 2vw, 20px);
  }
  @include mq(lg) {
    white-space: nowrap;
    font-size: rem(40);
  }
}

.p-strong__box-img {
  margin-top: rem(16);
  @include mq(md) {
    flex: 1;
    margin-top: initial;
  }
}
.p-strong__box-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 340 / 200;
  border-radius: rem(20);
}

.p-strong__box-bottom {
  border-top: 1px solid #222;
  margin-top: rem(12);
  padding-top: rem(12);
  @include mq(md) {
    margin-top: rem(20);
    padding-top: rem(20);
    padding-left: rem(20);
    padding-right: rem(20);
  }
  @include mq(lg) {
    margin-top: rem(30);
    padding-top: rem(30);
  }
}

.p-strong__box-bottom-text {
  font-size: rem(14);
  line-height: calc(32 / 20);
  letter-spacing: 0.06em;
  font-weight: 500;
  color: #222;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(20);
  }
}
.p-strong__box-bottom-text span {
  font-weight: 700;
  color: #37af32;
}
.p-strong__box-row2 {
  @include mq(md) {
    display: flex;
    align-items: center;
    gap: rem(20);
  }
  @include mq(lg) {
    gap: rem(40);
  }
}
.p-strong__box-column {
  width: 100%;
  @include mq(md) {
    max-width: rem(250);
  }
  @include mq(lg) {
    max-width: rem(400);
  }
}

.p-strong__box-column-detail + .p-strong__box-column-detail {
  margin-top: rem(12);
  @include mq(md) {
    margin-top: rem(24);
  }
  @include mq(lg) {
    margin-top: rem(40);
  }
}

.p-strong__box-column-title {
  font-weight: 700;
  line-height: calc(40 / 24);
  letter-spacing: 0.06em;
  color: #222;
  @include mq(md) {
    font-size: clamp(16px, 2vw, 16px);
  }
  @include mq(lg) {
    font-size: rem(24);
  }
}
.p-strong__box-column-title span {
  font-weight: 700;
  color: #37af32;
  font-size: rem(18);
  @include mq(md) {
    font-size: clamp(18px, 2vw, 18px);
  }
  @include mq(lg) {
    font-size: rem(30);
  }
}

.p-strong__box-column-text {
  line-height: calc(32 / 20);
  color: #222;
  font-weight: 500;
  letter-spacing: 0.06em;
  margin-top: rem(8);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    margin-top: rem(14);
    font-size: rem(20);
  }
}

.p-strong__box-img2 {
  margin-top: rem(16);
  @include mq(md) {
    flex: 1;
    margin-top: initial;
  }
}
.p-strong__box-img2 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 260 / 354;
  border-radius: rem(20);
}
.p-strong__box-lists {
  display: grid;
  gap: rem(16);
  margin-top: rem(20);
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: rem(20);
    margin-top: rem(30);
  }
  @include mq(lg) {
    gap: rem(40);
    margin-top: rem(40);
  }
}
.p-strong__box-list {
  background: #fff;
  border: 2px solid #37af32;
  border-radius: rem(10);
  padding: rem(20);
  @include mq(md) {
  }
  @include mq(lg) {
    padding: rem(40);
  }
}
.p-strong__guide-imgWrapper {
  position: relative;
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(30);
  }
  @include mq(lg) {
    margin-top: rem(40);
  }
}

.p-strong__guide-img {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: 100vw;
  @include mq(md) {
    padding-left: rem(40);
    padding-right: rem(40);
  }
}
.p-strong__guide-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1840 / 400;
  border-radius: rem(10);
}

.p-strong__guide-detail {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: initial;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-width: rem(350);
  }
  @include mq(lg) {
    max-width: rem(500);
  }
}

.p-strong__guide-detail-title {
  font-weight: 900;
  letter-spacing: 0.2em;
  color: #37af32;
  font-size: rem(20);
  @include mq(md) {
    font-size: clamp(20px, 2vw, 28px);
  }
  @include mq(lg) {
    font-size: rem(50);
  }
}

.p-strong__guide-detail-text {
  line-height: calc(32 / 20);
  color: #222;
  letter-spacing: 0.06em;
  font-weight: 500;
  font-size: rem(14);
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(20);
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    margin-top: rem(40);
    font-size: rem(20);
  }
}

.p-strong__guide-detail-small {
  letter-spacing: 0.06em;
  color: #222;
  letter-spacing: 0.06em;
  font-weight: 500;
  margin-top: rem(8);
  font-size: rem(12);
  margin-top: rem(8);
  @include mq(md) {
    font-size: clamp(10px, 2vw, 10px);
    margin-top: rem(10);
  }
  @include mq(lg) {
    font-size: rem(12);
    margin-top: rem(20);
  }
}
.p-strong__guide-lists {
  display: grid;
  gap: rem(20);
  margin-top: rem(20);
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: rem(30);
    gap: rem(20);
  }
  @include mq(lg) {
    margin-top: rem(40);
    gap: rem(40);
  }
}

.p-strong__guide-list {
  background: #fff;
  border: 2px solid #37af32;
  border-radius: rem(10);
  padding: rem(16);
  @include mq(md) {
    padding: rem(20);
  }
  @include mq(lg) {
    padding: rem(40);
  }
}

.p-strong__guide-row {
  @include mq(md) {
    display: flex;
    gap: rem(32);
    height: 100%;
  }
  @include mq(lg) {
    gap: rem(59);
  }
}

.p-strong__guide-list-detail {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.p-strong__guide-list-title {
  letter-spacing: 0.1em;
  color: #222;
  line-height: calc(42 / 30);
  font-weight: 700;
  @include mq(md) {
    font-size: clamp(18px, 2vw, 24px);
  }
  @include mq(lg) {
    font-size: rem(30);
  }
}

.p-strong__guide-list-small {
  margin-top: auto;
  color: #37af32;
  letter-spacing: 0.06em;
  font-weight: 500;
  margin-top: rem(12);
  @include mq(md) {
    margin-top: auto;
    font-size: clamp(10px, 2vw, 10px);
  }
  @include mq(lg) {
    font-size: rem(10);
  }
}

.p-strong__guide-icon {
  flex: 1;
  width: 100%;
  margin-top: rem(16);
  @include mq(md) {
    margin-top: initial;
    max-width: rem(200);
  }
  @include mq(lg) {
    max-width: rem(340);
  }
}
.p-strong__guide-icon img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-strong__box-economic {
  width: 100%;
  @include mq(md) {
    max-width: rem(170);
  }
  @include mq(lg) {
    max-width: rem(267);
  }
}

.p-strong__box-economic img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-strong__box-detail-textSmall {
  line-height: calc(16 / 10);
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #222;
  margin-top: rem(8);
  font-size: rem(12);
  @include mq(md) {
    font-size: clamp(10px, 2vw, 10px);
    margin-top: rem(20);
  }
  @include mq(lg) {
    font-size: rem(9);
    margin-top: rem(30);
  }
}
.p-strong__box-bottom-text--big {
  font-weight: 700;
  color: #37af32;
  font-size: rem(18);
  @include mq(md) {
    font-size: clamp(18px, 2vw, 18px);
  }
  @include mq(lg) {
    font-size: rem(30);
  }
}
.p-strong__box-bottom-text--number {
  font-weight: 700;
  color: #222;
  font-size: rem(22);
  @include mq(md) {
    font-size: clamp(22px, 2vw, 22px);
  }
  @include mq(lg) {
    font-size: rem(40);
  }
}
.p-strong__box-list {
}

.p-strong__box-detail--graph {
}

.p-strong__box-detail-textgraph {
  font-size: rem(14);
  letter-spacing: 0.1em;
  color: #37af32;
  font-weight: 700;
  @include mq(md) {
    font-size: clamp(10px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(14);
  }
}

.p-strong__box-list-graph {
  @include mq(md) {
    margin-top: rem(10);
  }
  @include mq(lg) {
    margin-top: rem(18);
  }
}

.p-strong__box-list-graph img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-strong__economic {
  margin-top: rem(20);
  background: #fff;
  border: 2px solid #37af32;
  border-radius: rem(10);
  padding: rem(20);
  @include mq(md) {
    margin-top: rem(30);
    display: flex;
    gap: rem(40);
  }
  @include mq(lg) {
    margin-top: rem(40);
    gap: rem(80);
    padding: rem(40);
  }
}

.p-strong__economic-left {
  width: 100%;
  @include mq(md) {
    width: 50%;
  }
  @include mq(lg) {
    max-width: rem(660);
  }
}

.p-strong__box-row {
}

.p-strong__box-detail {
}

.p-strong__box-detail-title {
}

.p-strong__box-img {
}
.p-strong__box-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-strong__bg {
  background: #37af32;
  border-radius: 9999px;
  color: #fff;
  margin-top: rem(16);
  font-weight: 700;
  line-height: calc(32 / 20);
  letter-spacing: 0.06em;
  text-align: center;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 16px);
    margin-top: rem(20);
    padding: rem(8);
  }
  @include mq(lg) {
    margin-top: rem(30);
    font-size: rem(20);
  }
}

.p-strong__compare-lists {
  margin-top: rem(10);
  @include mq(md) {
    margin-top: rem(20);
    display: flex;
    gap: rem(14);
  }
  @include mq(lg) {
    margin-top: rem(20);
    gap: rem(28);
  }
}

.p-strong__compare-list {
  font-size: rem(14);
  line-height: calc(32 / 20);
  letter-spacing: 0.06em;
  color: #222;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(20);
  }
}
.p-strong__compare-list span {
  font-size: rem(12);
  @include mq(md) {
    font-size: clamp(10px, 2vw, 10px);
  }
  @include mq(lg) {
    font-size: rem(12);
  }
}

.p-strong__compare-list-color {
  color: #37af32;
  font-weight: 700;
  font-size: rem(14) !important;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px) !important;
  }
  @include mq(lg) {
    font-size: rem(20) !important;
  }
}

.p-strong__attention {
  margin-top: rem(10);
  font-size: rem(10);
  line-height: calc(14 / 10);
  letter-spacing: 0.06em;
  color: #222;
  font-weight: 400;
  @include mq(md) {
    margin-top: rem(10);
    font-size: clamp(10px, 2vw, 10px);
  }
  @include mq(lg) {
    margin-top: rem(10);
    font-size: rem(10);
  }
}

.p-strong__economic-graph {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: initial;
    flex: 1;
  }
}
.p-strong__economic-graph img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-strong__kind-box {
  background: #fff;
  border: 2px solid #37af32;
  border-radius: rem(10);
  margin-top: rem(20);
  padding: rem(20);
  @include mq(md) {
    margin-top: rem(30);
    display: flex;
    gap: rem(40);
    padding: rem(30);
  }
  @include mq(lg) {
    margin-top: rem(40);
    gap: rem(80);
    padding: rem(40);
  }
}

.p-strong__kind-box-left {
  width: 100%;
  @include mq(md) {
    max-width: rem(660);
  }
}

.p-strong__kind-box-left-title {
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: calc(42 / 30);
  color: #222;
  @include mq(md) {
    font-size: clamp(18px, 2vw, 20px);
  }

  @include mq(lg) {
    font-size: rem(30);
  }
}

.p-strong__kind-box-left-text {
  font-size: rem(14);
  line-height: calc(32 / 20);
  letter-spacing: 0.06em;
  color: #222;
  font-weight: 500;
  border-top: 1px solid #222;
  margin-top: rem(16);
  padding-top: rem(16);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
    padding-top: rem(20);
    margin-top: rem(20);
  }
  @include mq(lg) {
    margin-top: rem(30);
    padding-left: rem(20);
    padding-right: rem(20);
    padding-top: rem(30);

    font-size: rem(20);
  }
}

.p-strong__kind-box-right {
  display: flex;
  flex-direction: column;
  gap: rem(16);
  margin-top: rem(24);
  @include mq(md) {
    margin-top: initial;
    flex-direction: row;
    max-width: rem(700);
    width: 100%;
    gap: rem(10);
  }
  @include mq(lg) {
    gap: rem(20);
  }
}

.p-strong__kind-box-right-img {
}
.p-strong__kind-box-right-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
