@use "../global" as *;

.p-specific {
  @include mq(md) {
    padding-top: rem(80);
    padding-bottom: rem(100);
  }
  @include mq(lg) {
    padding-top: rem(120);
    padding-bottom: rem(200);
  }
}
.p-specific--first {
  padding-bottom: initial;
}

// ヘッダー
.p-specific__header {
  display: flex;
  align-items: center;
  padding-bottom: rem(16);
  border-bottom: 2px solid #37af32;
}
.green-line {
  border-bottom: 2px solid #37af32;
}
.purple-line {
  border-bottom: 2px solid #8f82bc;
}
.p-specific__header-bar {
  width: rem(6);
  background-color: #ca4844;
  @include mq(md) {
    height: rem(50);
    margin-right: rem(20);
  }
  @include mq(lg) {
    height: rem(60);
    margin-right: rem(20);
  }
}
.green-bg {
  background-color: #37af32;
}
.purple-bg {
  background-color: #8f82bc;
}
.orange-bg {
  background-color: #f08300;
}
.blue-bg {
  background-color: #20aee5;
}
.black-bg {
  background-color: #592022;
}

.p-specific__header-title {
  font-size: rem(30);
  font-weight: 700;
  color: #ca4844;
  line-height: calc(40 / 30);
  letter-spacing: 0.06em;
}

// トップセクション（図面+2つのテーブル）
.p-specific__top {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: rem(30);
    max-width: rem(1000);
  }
  @include mq(lg) {
    max-width: rem(1440);
    margin-top: rem(40);
  }
}

// 製品図面
.p-specific__diagram {
}

.p-specific__diagram-img {
  width: 100%;
  max-width: rem(440);
}

.p-specific__diagram-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

// 製品仕様
.p-specific__specs {
  @include mq(md) {
    margin-left: rem(40);
    margin-top: rem(56);
  }
  @include mq(lg) {
    margin-left: rem(80);
    margin-top: rem(88);
  }
}

.p-specific__specs-title {
  font-size: rem(20);
  font-weight: 500;
  color: #222;
  line-height: calc(32 / 20);
  letter-spacing: 0.06em;
  @include mq(md) {
    font-size: clamp(16px, 2vw, 20px);
  }
  @include mq(lg) {
    font-size: rem(20);
  }
}

// テーブル
.p-specific__table {
  width: 100%;
  border-collapse: collapse;
  font-size: rem(16);
  color: #222;
  line-height: calc(32 / 16);
  letter-spacing: 0.06em;
  @include mq(md) {
    margin-top: rem(10);
  }
  @include mq(lg) {
    margin-top: rem(20);
  }
}

.p-specific__table th,
.p-specific__table td {
  border: 1px solid #1a1311;
  font-size: rem(14);
  white-space: nowrap;
  @include mq(md) {
    padding: rem(4) rem(16);
    font-size: clamp(12px, 2vw, 12px);
  }
  @include mq(lg) {
    font-size: rem(14);
    padding: rem(6) rem(30);
  }
}

.p-specific__table th {
  font-weight: 500;
  text-align: center;
}

.p-specific__table td {
  font-weight: 500;
  text-align: left;
}

.p-specific__table th[rowspan] {
  vertical-align: middle;
}

// 注記
.p-specific__note {
  color: #1a1311;
  line-height: calc(15 / 12);
  margin-top: rem(20);
  font-size: rem(12);
  @include mq(md) {
    font-size: clamp(12px, 2vw, 12px);
  }
  @include mq(lg) {
    font-size: rem(12);
  }
}

// 標準屋根勾配
.p-specific__slope {
  @include mq(md) {
    margin-left: rem(20);
    margin-top: rem(56);
  }
  @include mq(lg) {
    margin-top: rem(88);
    margin-left: rem(40);
  }
}

.p-specific__slope-title {
  font-size: rem(20);
  font-weight: 500;
  color: #222;
  line-height: calc(32 / 20);
  letter-spacing: 0.06em;
  @include mq(md) {
    margin-bottom: rem(20);
  }
  @include mq(lg) {
    margin-bottom: rem(20);
  }
}

.p-specific__slope-table {
  width: 100%;
  border-collapse: collapse;
  font-size: rem(14);
  color: #222;
  line-height: calc(32 / 16);
  letter-spacing: 0.06em;
  @include mq(md) {
    font-size: clamp(12px, 2vw, 14px);
  }
  @include mq(lg) {
    margin-bottom: rem(15);
    font-size: rem(16);
  }
}

.p-specific__slope-table th,
.p-specific__slope-table td {
  border: 1px solid #1a1311;
  width: 50%;
  @include mq(md) {
    padding: rem(0) rem(12);
  }
  @include mq(lg) {
    padding: rem(0) rem(12);
  }
}

.p-specific__slope-table th {
  font-weight: 500;
  text-align: center;
}

.p-specific__slope-table td {
  font-weight: 500;
  text-align: center;
}

.p-specific__diagrams {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(20);
  @include mq(md) {
    max-width: rem(1000);
    margin-top: rem(30);
  }
  @include mq(lg) {
    max-width: rem(1440);
    margin-top: rem(40);
  }
}
.p-specific__diagrams img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
// 注意事項
.p-specific__notes {
  margin-top: rem(20);
  border: 1px solid #222;
  border-radius: rem(10);
  padding: rem(20);
  @include mq(md) {
    display: flex;
    gap: rem(40);
    max-width: rem(1000);
    margin-top: rem(30);
    margin-left: auto;
    margin-right: auto;
    padding: rem(20) rem(40);
  }
  @include mq(lg) {
    max-width: rem(1440);
    gap: rem(40);
    padding: rem(40) rem(60);
  }
}

.p-specific__notes-box:first-child {
  max-width: rem(500);
  width: 100%;
}
.p-specific__notes-box:last-child {
  max-width: rem(780);
  width: 100%;
  flex: 1;
}
.p-specific__notes-title {
  font-size: rem(20);
  font-weight: 500;
  color: #222;
  line-height: calc(32 / 20);
  letter-spacing: 0.06em;
  @include mq(md) {
    margin-bottom: rem(20);
  }
  @include mq(lg) {
    margin-bottom: rem(20);
  }
}

.p-specific__notes-intro {
  font-size: rem(16);
  font-weight: 500;
  color: #222;
  line-height: calc(22.4 / 16);
  letter-spacing: 0.06em;
  @include mq(md) {
    margin-bottom: rem(20);
  }
  @include mq(lg) {
    margin-bottom: rem(20);
  }
}

.p-specific__notes-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.p-specific__notes-list li {
  font-weight: 500;
  color: #222;
  line-height: calc(22.4 / 16);
  letter-spacing: 0.06em;
  position: relative;
  padding-left: rem(20);
  font-size: rem(14);

  @include mq(md) {
    margin-bottom: rem(20);
    font-size: clamp(12px, 2vw, 12px);
  }
  @include mq(lg) {
    margin-bottom: rem(20);
    font-size: rem(16);
  }
}

.p-specific__notes-list li:last-child {
  margin-bottom: 0;
}

.p-specific__notes-list li::before {
  content: "●";
  position: absolute;
  left: 0;
  top: 0;
}

.p-specific__notes-list li strong {
  font-weight: 500;
}
.border-left-none {
  border-left: initial !important;
}
.border-right-none {
  border-right: initial !important;
}
.w150 {
  width: rem(150);
}
.p-specific__notes-li {
  padding-left: initial !important;
  display: flex;
  gap: rem(10);
}
.p-specific__notes-li strong {
  white-space: nowrap;
}
.p-specific__notes-li::before {
  display: none;
}
.p-specific__notes-text {
  font-weight: 500;
  color: #222;
  line-height: calc(22.4 / 16);
  letter-spacing: 0.06em;
  font-size: rem(14);
  @include mq(md) {
    font-size: clamp(12px, 2vw, 12px);
  }
  @include mq(lg) {
    font-size: rem(16);
  }
}
.p-specific__color {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(30);
    max-width: rem(1000);
    margin-left: auto;
  }
  @include mq(lg) {
    margin-top: rem(40);
    max-width: rem(1400);
  }
}
.p-specific__color img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.mt40 {
  margin-top: rem(40);
}
.mix-brend {
  mix-blend-mode: multiply;
}
.p-specific__safe {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(20);
  @include mq(md) {
    max-width: rem(1100);
    margin-top: rem(30);
  }
  @include mq(lg) {
    max-width: rem(1400);
    margin-top: rem(60);
  }
}

.p-specific__safe img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-specific__stylish {
  @include mq(md) {
    margin-top: rem(30);
    display: flex;
    gap: rem(64);
  }
  @include mq(lg) {
    gap: rem(140);
    margin-top: rem(40);
  }
}

.p-specific__stylish-text {
  font-size: rem(14);
  line-height: calc(32 / 20);
  letter-spacing: 0.06em;
  color: #222;
  white-space: nowrap;
  font-weight: 500;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(20);
  }
}

.p-specific__stylish-img {
  width: 100%;
  @include mq(md) {
    max-width: rem(600);
    margin-left: auto;
  }
  @include mq(lg) {
    max-width: rem(830);
  }
}
.p-specific__stylish-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
