@use "../global" as *;

.p-secret {
  padding-top: rem(40);
  @include mq(md) {
    padding-top: rem(60);
  }
  @include mq(lg) {
    padding-top: rem(120);
  }
}

.p-secret__content {
}

.p-secret__title {
  color: #37af32;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: calc(40 / 30);
  font-size: rem(18);
  position: relative;
  padding-left: rem(20);
  padding-bottom: rem(12);
  border-bottom: 2px solid #37af32;
  @include mq(md) {
    font-size: clamp(20px, 2vw, 22px);
    padding-left: rem(26);
    padding-bottom: rem(24);
  }
  @include mq(lg) {
    font-size: rem(36);
  }
}
.p-secret__title::before {
  position: absolute;
  content: "";
  background: #37af32;
  left: 0;
  top: 45%;
  transform: translateY(-50%);
  width: rem(4);
  height: rem(32);
  @include mq(md) {
    height: rem(48);
    width: rem(6);
  }
  @include mq(lg) {
    height: rem(60);
  }
}
.p-secret__title span {
  font-size: rem(14);
  @include mq(md) {
    font-size: clamp(16px, 2vw, 18px);
  }
  @include mq(lg) {
    font-size: rem(30);
  }
}
// .p-secret__title::after {
//   position: absolute;
//   content: "";
//   background: #37af32;
//   height: rem(2);
//   left: rem(-24);
//   right: 0;
//   bottom: rem(-4);
//   @include mq(md) {
//     bottom: 0;
//   }
// }
.p-secret__text {
  color: #222;
  font-weight: 500;
  letter-spacing: 0.06em;
  line-height: calc(32 / 20);
  font-size: rem(14);
  margin-top: rem(20);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 16px);
    margin-top: rem(30);
  }
  @include mq(lg) {
    margin-top: rem(40);
    font-size: rem(20);
  }
}
.p-secret__text span {
  font-size: rem(14);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
    margin-left: rem(10);
  }
  @include mq(lg) {
    font-size: rem(14);
    margin-left: rem(21);
  }
}
.p-secret__lists {
  display: flex;
  flex-direction: column;
  gap: rem(12);
  margin-top: rem(20);
  @include mq(md) {
    flex-direction: row;
    gap: rem(20);
    margin-top: rem(30);
  }
  @include mq(lg) {
    margin-top: rem(40);
  }
}

.p-secret__list {
  flex: 1;
}
.p-secret__list:last-child {
  width: 100%;
  @include mq(md) {
    max-width: rem(200);
  }
  @include mq(lg) {
    max-width: rem(300);
  }
}

.p-secret__list-img {
}
.p-secret__list-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-secret__list-text {
  color: #222;
  font-weight: 500;
  letter-spacing: 0.06em;
  line-height: calc(32 / 20);
  font-size: rem(14);
  margin-top: rem(12);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 16px);
    margin-top: initial;
  }
  @include mq(lg) {
    font-size: rem(20);
  }
}
.p-secret__list-text span {
  font-weight: 700;
  color: #37af32;
}

.p-secret__small {
  font-weight: 500;
  color: #222;
  letter-spacing: 0.06em;
  line-height: 2;
  font-size: rem(14);
  margin-top: rem(12);
  @include mq(md) {
    margin-top: rem(20);
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    margin-top: rem(40);
    font-size: rem(16);
  }
}
