@use "../global" as *;

.p-topics-top {
  margin-top: rem(40);
  padding-bottom: rem(40);
  position: relative;
  @include mq(md) {
    margin-top: rem(80);
    padding-bottom: rem(80);
  }
  @include mq(lg) {
    margin-top: rem(135);
    padding-bottom: rem(120);
  }
}
.p-topics-top::before {
  position: absolute;
  content: "";
  background: url(../images/common/page_mv_wave.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  aspect-ratio: 1150 / 380;
  object-fit: cover;
  right: 0;
  z-index: -1;
  top: rem(100);
  @include mq(md) {
    width: rem(800);
    top: rem(240);
  }
  @include mq(lg) {
    width: rem(1150);
    top: rem(450);
  }
}
.p-topics-top__content {
  @include mq(md) {
    display: flex;
  }
}

.p-topics-top__left {
}

.p-topics-top__title-wrapper {
}

.p-topics-top__title {
  font-size: rem(40);
  color: #37af32;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: calc(192 / 160);
  @include mq(md) {
    font-size: rem(120);
  }
  @include mq(lg) {
    font-size: rem(160);
  }
}

.p-topics-top__detail {
  margin-top: rem(20);
  position: relative;
  z-index: 1;
  @include mq(md) {
    margin-top: rem(40);
    max-width: rem(450);
  }
  @include mq(lg) {
    margin-top: rem(60);
    max-width: rem(600);
  }
}

.p-topics-top__detail-title {
  font-size: rem(20);
  color: #222;
  font-weight: 700;
  letter-spacing: 0.2em;
  line-height: calc(56 / 40);
  @include mq(md) {
    font-size: clamp(20px, 2vw, 24px);
  }
  @include mq(lg) {
    font-size: rem(40);
  }
}

.p-topics-top__detail-text {
  margin-top: rem(10);
  font-size: rem(14);
  line-height: calc(32 / 20);
  font-weight: 500;
  color: #222;
  letter-spacing: 0.06em;
  @include mq(md) {
    margin-top: rem(16);
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(20);
    margin-top: rem(20);
  }
}

.p-topics-top__img {
  border-radius: rem(10);
  margin-top: rem(20);

  @include mq(md) {
    margin-right: calc(50% - 50vw);
    padding-right: rem(40);
    margin-top: initial;
    width: 50vw;
    flex: 1;
    position: relative;
    z-index: -1;
    margin-left: rem(-100);
  }
  @include mq(lg) {
    margin-left: rem(-240);
  }
}
.p-topics-top__img img {
  aspect-ratio: 900 / 980;
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: rem(10);
}

.p-topics-top__img-bg {
  padding-left: rem(20);
  padding-right: rem(20);
  border-radius: rem(10);
  @include mq(md) {
    padding-left: rem(40);
    padding-right: rem(40);
  }
}
.p-topics-top__img-bg img {
  aspect-ratio: 1840 / 600;
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: rem(10);
}
.js-parallax {
  overflow: hidden;
}
.js-parallax img {
  height: calc(100% + 45px);
}
