@use "../global" as *;

.p-top-news {
  padding-top: rem(40);
  padding-bottom: rem(40);
  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(100);
  }
  @include mq(lg) {
    padding-top: rem(200);
    padding-bottom: rem(200);
  }
}

.p-top-news__content {
  @include mq(md) {
    display: flex;
    gap: rem(48);
  }
  @include mq(lg) {
    gap: rem(106);
  }
}

.p-top-news__left {
}

.p-top-news__title {
}

.p-top-news__btn {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(40);
  }
  @include mq(lg) {
    margin-top: rem(70);
  }
}
.p-top-news__right {
  position: relative;
  margin-top: rem(24);
  @include mq(md) {
    margin-top: initial;
    flex: 1;
  }
}
.p-top-news__right::before {
  position: absolute;
  content: "";
  background: url(../images/top/top_about_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  top: 10%;
  aspect-ratio: 230 / 700;
  object-fit: cover;
  z-index: -1;
  width: rem(120);
  right: rem(-40);
  @include mq(md) {
    right: rem(-88);
    width: rem(230);
  }
}

.p-top-news__lists {
}

.p-top-news__list {
}

.p-top-news__link {
  padding-top: rem(12);
  padding-bottom: rem(12);
  border-top: 1px solid #222;
  display: block;
  @include mq(md) {
    display: flex;
    align-items: center;
    gap: rem(24);
    padding-top: rem(20);
    padding-bottom: rem(20);
  }
  @include mq(lg) {
    gap: rem(40);
    padding-top: rem(40);
    padding-bottom: rem(40);
  }
}

.p-top-news__list:last-child .p-top-news__link {
  border-bottom: 1px solid #222;
}
.p-top-news__link-cat {
  display: flex;
  align-items: center;
  gap: rem(8);
  @include mq(md) {
    gap: rem(12);
  }
  @include mq(lg) {
    gap: rem(20);
  }
}

.p-top-news__time {
  font-size: rem(14);
  font-weight: 700;
  font-family: $second-font-family;
  letter-spacing: 0.1em;
  font-style: italic;
  color: #222;
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(16);
  }
}

.p-top-news__category {
  background: #fff;
  letter-spacing: 0.1em;
  color: #37af32;
  font-weight: 700;
  padding-top: rem(2);
  padding-bottom: rem(2);
  padding-left: rem(10);
  padding-right: rem(10);
  border-radius: 9999px;
  font-size: rem(14);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
    padding-left: rem(13);
    padding-right: rem(13);
  }
  @include mq(lg) {
    font-size: rem(18);
    padding-left: rem(26);
    padding-right: rem(26);
  }
}

.p-top-news__link-title {
  line-height: calc(32 / 18);
  color: #222;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: rem(14);
  @include mq(md) {
    font-size: clamp(14px, 2vw, 16px);
  }
  @include mq(lg) {
    font-size: rem(18);
  }
}
