@use "../global" as *;

.p-top-choose {
  overflow-x: clip;
}

.p-top-choose__content {
  position: relative;
}

.p-top-choose__content::before {
  position: absolute;
  content: "";
  background: url(../images/top/top_about_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 230 / 700;
  object-fit: cover;
  width: rem(64);
  height: auto;
  top: rem(-20);
  z-index: -1;

  @include mq(md) {
    width: rem(140);
    left: rem(-40);
  }

  @include mq(lg) {
    width: rem(230);
    left: rem(-80);
  }
}

.p-top-choose__top {
  @include mq(md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.p-top-choose__btn-wrapper {
  margin-top: rem(24);

  @include mq(md) {
    margin-top: initial;
  }
}

.p-top-choose__slider {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: 100vw;
  margin-top: rem(40);
}

.choose-slider {
  padding-bottom: rem(32) !important;

  @include mq(md) {
    padding-bottom: rem(60) !important;
  }
}

.p-top-choose__link {
  border: rem(10) solid #37af32;
  border-radius: rem(10);
  background: #fff;
  filter: drop-shadow(30px 30px 15px rgba(0, 0, 0, 0.3));
  padding-top: rem(20);
  padding-left: rem(20);
  padding-right: rem(20);
  display: block;

  @include mq(md) {
    display: flex;
    padding-top: initial;
    padding-left: initial;
    padding-right: initial;
    // align-items: flex-end;
    // padding-top: rem(30);
    // padding-left: rem(50);
    // height: rem(440);
  }

  @include mq(lg) {
    // padding-top: rem(50);
    // padding-left: rem(100);
    height: rem(506);
  }
}

.p-top-choose__left {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  @include mq(md) {
    max-width: rem(440);
    padding-right: rem(32);
    padding-top: rem(36);
    padding-left: rem(32);
    padding-bottom: rem(36);
    position: relative;
  }

  @include mq(lg) {
    max-width: rem(526);
    padding-right: rem(80);
    padding-top: rem(50);
    padding-left: rem(100);
    padding-bottom: rem(50);
  }
}

.p-top-choose__left::before {
  @include mq(md) {
    position: absolute;
    content: "";
    background: #222;
    width: 1px;
    top: rem(50);
    bottom: rem(50);
    right: 0;

  }
}

.p-top-choose__title-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  gap: rem(20);
}

.p-top-choose__title-num {
  font-family: $second-font-family;
  font-weight: 700;
  font-style: italic;
  font-size: rem(14);
  color: #222;

  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }

  @include mq(lg) {
    font-size: rem(14);
  }
}

.p-top-choose__title-text {
  font-size: rem(20);
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #222;

  @include mq(md) {
    font-size: clamp(20px, 2vw, 24px);
  }

  @include mq(lg) {
    font-size: rem(40);
  }
}

.p-top-choose__text {
  line-height: calc(32 / 20);
  font-weight: 500;
  color: #222;
  letter-spacing: 0.06em;
  font-size: rem(14);
  margin-top: rem(12);

  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
    margin-top: rem(16);
  }

  @include mq(lg) {
    margin-top: rem(20);
    font-size: rem(20);
  }
}

.p-top-choose__bottom {
  margin-top: rem(12);

  @include mq(md) {
    margin-top: rem(20);
  }

  @include mq(lg) {
    margin-top: rem(32);
  }
}

.p-top-choose__bottom-number {
  font-size: rem(14);
  font-family: $second-font-family;
  color: #37af32;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-style: italic;

  @include mq(md) {
    font-size: clamp(14px, 2vw, 14px);
  }

  @include mq(lg) {
    font-size: rem(14);
  }
}

.p-top-choose__bottom-text {
  margin-top: rem(10);
  font-size: rem(10);
  font-family: $second-font-family;
  font-style: italic;
  font-weight: 400;
  color: #37af32;

  @include mq(md) {
    font-size: clamp(10px, 2vw, 10px);
  }

  @include mq(lg) {
    margin-top: rem(10);
    font-size: rem(10);
  }
}

.p-top-choose__img {
  width: 100%;

  @include mq(md) {
    max-width: rem(540);
    margin-left: auto;
    display: flex;
    // align-items: center;
    align-items: flex-end;
  }

  @include mq(lg) {
    max-width: rem(690);
  }
}

.p-top-choose__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-top-choose__icon {
  position: absolute;
  bottom: rem(20);
  right: rem(20);
  width: rem(32);
  height: rem(32);

  @include mq(md) {
    width: rem(48);
    height: rem(48);
  }

  @include mq(lg) {
    width: rem(80);
    height: rem(80);
  }
}

.p-top-choose__icon img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-top-choose__banner {
  @include mq(md) {
    margin-top: rem(60);
  }

  @include mq(lg) {
    margin-top: rem(120);
  }
}

.p-top-choose__banner-link {
  display: block;
  max-width: rem(1520);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.p-top-choose__banner-link img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}