@use "../global" as *;

.p-voice-slider {
  overflow-x: clip;
}

.voice-slider {
  overflow: visible !important;
}

.p-voice-slider__item {
  background: #b9d79c;
  border: 2px solid #37af32;
  border-radius: rem(10);
  padding: rem(16);
  padding-top: rem(16);
  padding-bottom: rem(16);
  padding-left: rem(16);
  padding-right: rem(40);
  position: relative;
  @include mq(md) {
    padding-top: rem(24);
    padding-bottom: rem(24);
    padding-left: rem(24);
    padding-right: rem(60);
  }
  @include mq(lg) {
    padding-top: rem(40);
    padding-bottom: rem(40);
    padding-left: rem(40);
    padding-right: rem(100);
  }
}

.p-voice-slider__item-text {
  font-size: rem(14);
  line-height: calc(32 / 20);
  letter-spacing: 0.06em;
  font-weight: 700;
  color: #222;
  @include mq(md) {
    font-size: clamp(16px, 2vw, 16px);
  }
  @include mq(lg) {
    font-size: rem(20);
  }
}

.p-voice-slider__item-place {
  letter-spacing: 0.06em;
  font-weight: 500;
  color: #222;
  @include mq(md) {
    margin-top: rem(10);
    font-size: clamp(12px, 2vw, 12px);
  }
  @include mq(lg) {
    margin-top: rem(20);
    font-size: rem(16);
  }
}

.p-voice_slider__item-img {
  position: absolute;
  width: rem(48);
  height: rem(48);
  right: rem(-24);
  top: rem(-24);
  @include mq(md){
    width: rem(72);
    height: rem(72);
    right: rem(-32);
    top: rem(-32);
  }
  @include mq(md){
    width: rem(100);
    height: rem(100);
    right: rem(-40);
    top: rem(-24);
    
  }
}
.p-voice_slider__item-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 100 / 100;
  object-position: center center;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
}
