@use "../global" as *;

.p-water-test {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(30);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(20);
  }
  @include mq(lg) {
    margin-top: rem(40);
    gap: rem(40);
  }
}

.p-water-test__box {
  background-color: #ca4844;
  border-radius: rem(6);
  padding: rem(10) rem(20);
  @include mq(md) {
  }
  @include mq(lg) {
    padding: rem(10) rem(30);
  }
}
.p-water-test__box--black {
  background-color: #222222;
}
.p-water-test__title {
  font-size: rem(18);
  font-weight: 700;
  color: #fff;
  line-height: calc(35 / 22);
  letter-spacing: 0.1em;
  text-align: center;
  @include mq(md) {
    font-size: clamp(18px, 2vw, 18px);
  }
  @include mq(lg) {
    font-size: rem(22);
  }
}

.p-water-test__items {
  margin-top: rem(8);
  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(8);
  }
  @include mq(lg) {
    gap: rem(10);
  }
}

.p-water-test__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-water-test__img {
  width: 100%;
  border-radius: rem(6);
  overflow: hidden;
}

.p-water-test__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: rem(6);
}

.p-water-test__caption {
  font-size: rem(12);
  font-weight: 700;
  color: #fff;
  line-height: calc(35 / 12);
  letter-spacing: 0.1em;
  text-align: center;
  margin-top: rem(10);
  @include mq(md) {
    font-size: clamp(10px, 2vw, 10px);
  }
  @include mq(lg) {
    margin-top: rem(10);
    font-size: rem(12);
  }
}

.p-water-text__text {
  font-size: rem(14);
  font-weight: 500;
  color: #222;
  line-height: calc(32 / 20);
  letter-spacing: 0.06em;
  margin-top: rem(12);
  @include mq(md) {
    margin-top: rem(20);
    font-size: clamp(14px, 2vw, 14px);
  }
  @include mq(lg) {
    font-size: rem(20);
    margin-top: rem(40);
  }
}
